/* styles.css */
.sidebar {
  position: fixed; 
  top: 24px;
  left: 24px;
  display: flex;
  flex-direction: column;
  width: 260px;
  border-radius: 28px;
  border: 5px solid rgb(255 255 255 / 10%);
  background: rgb(0 0 0 / 12%);
  backdrop-filter: blur(20px);
}

.sidebar header {
  display: flex;
  align-items: center;
  height: 72px;
  padding: 0 24px 0 0;
}

.sidebar header button {
  width: 58px;
}

.sidebar header img {
  height: 18px
}

.sidebar .menu {
  position: relative;
  display: grid;
}

.sidebar .menu::after {
  content: "";
  position: absolute;
  top: 0;
  left: -4px;
  height: 56px;
  width: 4px;
  background: #6199f7;
  translate:
    0 var(--top);
  transition: 0.3s;
}

.sidebar button {
  display: flex;
  gap: 16px;
  align-items: center;
  height: 56px;
  width: 260px;
  padding: 0 22px;
  color: inherit;
  opacity: 0.6;
}

.sidebar .menu button:hover {
  background: rgb(255 255 255 / 4%);
}

.sidebar .menu button.active {
  background: rgb(255 255 255 / 6%);
  opacity: 1;
}

.sidebar.open .menu .active {
  cursor: default;
}
